@charset "UTF-8";

/*-------------------------------------------
1.ヒーロー Mainvisual 
-------------------------------------------*/
.mainvisual {
  background-color: #dceeff;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding: 70px 0 160px;
  margin-bottom: 40px;
}
.mainvisual .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainvisual .text .catchphrase {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.mainvisual .text .catchphrase span {
  background-color: #fff;
  display: inline-block;
  margin-bottom: 10px;
}
.mainvisual .text .description {
  font-weight: 500;
  line-height: 1.6;
}
.mainvisual .img {
  max-width: 560px;
}

@media screen and (max-width: 767px) {
  .mainvisual {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    padding: 50px 0 90px;
  }
  .mainvisual .inner {
    flex-direction: column;
  }
  .mainvisual .text .catchphrase {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .mainvisual .text .description {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

/*-------------------------------------------
2.選ばれる理由 Reason
-------------------------------------------*/
.reason {
  margin-bottom: 80px;
}
.reason .item {
  display: flex;
  justify-content: space-between;
}
.reason .item li {
  width: 30%;
  max-width: 250px;
  margin-right: 5%;
}
.reason .item li:last-child {
  margin-right: 0;
}
.reason .item li .img {
  margin-bottom: 20px;
}
.reason .item li .img img {
  border-radius: 50%;
}
.reason .item li .title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .reason {
    margin-bottom: 40px;
  }
  .reason .item {
    flex-direction: column;
    align-items: center;
  }
  .reason .item li {
    width: 100%;
    margin: 0 0 40px;
  }
  .reason .item li:last-child {
    margin-bottom: 0;
  }
}

/*-------------------------------------------
3.サービス内容
-------------------------------------------*/
.detail {
  background-color: #dceeff;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  padding: 100px 0;
  margin-bottom: 80px;
}
.detail .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail .item .img {
  width: 55%;
  margin-right: 5%;
}
.detail .item .img img {
  width: 100%;
}
.detail .item .text {
  width: 40%;
}
.detail .item .text .title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}
.detail .item .text .description {
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .detail {
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
    padding: 80px 0;
    margin-bottom: 40px;
  }
  .detail .item {
    flex-direction: column;
  }
  .detail .item .img {
    width: 100%;
    margin: 0 0 40px;
  }
  .detail .item .text {
    width: 100%;
  }
  .detail .item .text .title {
    text-align: center;
  }
}
/*-------------------------------------------
4.ご利用の流れ
-------------------------------------------*/
.flow {
  margin-bottom: 100px;
}
.flow .item {
  display: flex;
  margin-bottom: 50px;
}
.flow .item .step {
  width: 160px;
  height: 140px;
  background-color: #dceeff;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  font-weight: 700;
  flex-shrink: 0;
  padding-top: 20px;
  margin-right: 7%;
  text-align: center;
}
.flow .item .step .title {
  display: block;
  font-size: 18px;
}
.flow .item .step .no {
  display: block;
  font-size: 56px;
}
.flow .item .text dt {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}
.flow .item .text dd {
  line-height: 1.8;
}
.flow .item .text a {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .flow {
    margin-bottom: 40px;
  }
  .flow .item {
    margin-bottom: 30px;
  }
  .flow .item .step {
    width: 80px;
    height: 80px;
    padding-top: 10px;
    margin-right: 20px;
  }
  .flow .item .step .title {
    font-size: 14px;
  }
  .flow .item .step .no {
    font-size: 32px;
  }
  .flow .item .text dt {
    font-size: 18px;
  }
  .flow .item .text dd {
    font-size: 14px;
  }
}

/*-------------------------------------------
5.料金 price
-------------------------------------------*/
.plan-table {
  overflow-x: auto;
  padding: 0 20px;
  margin-bottom: 80px;
}
.plan-table .table {
  width: 900px;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
}
.plan-table .table th,
.plan-table .table td {
  border: solid 1px #707070;
  padding: 20px;
}
.plan-table .table thead th {
  background-color: #fafafa;
  font-weight: 500;
}
.plan-table .table thead th:first-child {
  width: 300px;
  background-color: #fff;
  border-left: none;
  border-top: none;
}
.plan-table .table thead th:nth-child(n + 2) {
  width: 200px;
}
.plan-table .table tbody th {
  background-color: #fafafa;
  font-weight: 500;
  text-align: left;
}
.plan-table .table tbody td {
  font-size: 18px;
  text-align: center;
}
.plan-table .table tbody td .title {
  display: block;
  font-size: 14px;
}
.plan-table .table tbody td .price-amount {
  font-size: 24px;
  font-weight: 500;
}
.plan-table .table tbody td .tax {
  font-size: 12px;
}
.plan-table .table tbody td .note {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .plan-table {
    margin-bottom: 40px;
  }
  .plan-table .table {
    width: 600px;
  }
  .plan-table .table th,
  .plan-table .table td {
    font-size: 14px;
    padding: 10px;
  }
  .plan-table .table thead th:first-child {
    width: 150px;
  }
  .plan-table .table thead th:nth-child(n + 2) {
    width: 150px;
  }
  .plan-table .table tbody td {
    font-size: 14px;
  }
  .plan-table .table tbody td .price {
    font-size: 18px;
  }
}

/*-------------------------------------------
6.利用者の声 Voice
-------------------------------------------*/
.voice {
  margin-bottom: 80px;
}
.voice .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.voice .item .img {
  max-width: 182px;
  margin-right: 40px;
}
.voice .item .img:nth-child(2) {
  margin-left: 40px;
  margin-right: 0;
}
.voice .item .img img {
  border: solid 1px #ddd;
  border-radius: 50%;
}
.voice .item .text {
  max-width: 660px;
  border: solid 1px #707070;
  border-radius: 8px;
  line-height: 2;
  padding: 20px;
  position: relative;
}
.voice .item .text::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-right: solid 1px #707070;
  border-bottom: solid 1px #707070;
  position: absolute;
  top: 45%;
}
.voice .item .text:nth-child(1)::after {
  transform: rotate(-45deg);
  right: -10px;
}
.voice .item .text:nth-child(2)::after {
  transform: rotate(135deg);
  left: -10px;
}
.voice .item .text .age {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .voice {
    margin-bottom: 40px;
  }
  .voice .item .img {
    width: 100px;
    flex-shrink: 0;
    margin-right: 20px;
  }
  .voice .item .img:nth-child(2) {
    margin-left: 20px;
  }
  .voice .item .text {
    font-size: 14px;
    padding: 10px;
  }
}

/*-------------------------------------------
7.お問い合わせ
-------------------------------------------*/
.contact-form {
  margin-bottom: 80px;
}
.contact-form dt {
  font-weight: 500;
  margin-bottom: 10px;
}
.contact-form dt .require {
  color: #e52d27;
  margin-left: 5px;
}
.contact-form dd {
  margin-bottom: 40px;
}
.contact-form dd input[type="text"],
.contact-form dd input[type="email"] {
  width: 100%;
  border: solid 1px #ccc;
  padding: 15px 10px;
}
.contact-form dd textarea {
  width: 100%;
  height: 200px;
  border: solid 1px #ccc;
  padding: 15px 10px;
}
.contact-form .radio-group {
  display: flex;
  align-items: center;
}
.contact-form .radio-group .item-group {
  margin-right: 40px;
}
.contact-form .btn {
  text-align: center;
}
.contact-form .btn input {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 15px 50px;
}

@media screen and (max-width: 767px) {
  .contact-form {
    margin-bottom: 40px;
  }
  .contact-form dd {
    margin-bottom: 25px;
  }
  .contact-form .radio-group {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 10px;
  }
  .contact-form .radio-group .item-group {
    margin: 0 0 15px;
  }
}

/*-------------------------------------------
Contact お問い合わせボタン
-------------------------------------------*/
.contact {
  background-color: #dceeff;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  padding: 100px 0 60px;
}
.contact .inner {
  text-align: center;
}
.contact .text {
  line-height: 1.6;
  margin-bottom: 40px;
}
.contact .btn {
  background-color: #fff;
  border: solid 1px #707070;
  display: inline-block;
  font-size: 14px;
  padding: 20px 60px;
}

/* @media screen and (max-width: 767px) {
  .service {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    padding: 80px 0;
  }
  .service .service-price-item {
    flex-direction: column;
  }} */
